<p>A comment has been made on your <strong><%= @book.title %></strong> book.</p>

<p>
  <strong><%= @comment.title %></strong> | <%= @comment.commenter %>
</p>

<p>
  <%= @comment.content %>
</p>

<%= link_to 'Back', welcome_index_url %>
