<h1>Book</h1>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="card mb-4 shadow-sm">
            <div class="card-header"><%= @book.title %></div>
            <div class="card-body">
              <p class="card-text">Written by <b><%= @book.author %></b>.</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted"><%= @book.pagecount %> pages.</small>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<%= form_with(model: [ @book, @book.trades.build ], local: true) do |form| %>
  <h4>Want to trade?</h4>
  <%= form.hidden_field :sender_id, value: current_user.id %>
  <%= form.hidden_field :recipient_id, value: @book.user_id %>
  <%= form.hidden_field :status, value: :waiting %>
  <div class="form-group">
    <%= form.collection_select :proposed_book_id, current_user.books.where(shared: :true).order(:title),:id,:title, include_blank: true, :class => 'form-control' %>
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

<h2>Comments</h2>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @book.comments.each do |comment| %>
        <% if comment.approved %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-header"><%= comment.title %></div>
              <div class="card-body">
                <p class="card-text"><%= comment.content %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted"><%= comment.commenter %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<h4>Unapproved</h4>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @book.comments.each do |comment| %>
        <% unless comment.approved && comment.commenter == current_user.username %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-header"><%= comment.title %></div>
              <div class="card-body">
                <p class="card-text"><%= comment.content %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="text-muted"><%= comment.commenter %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="comment"></div>
</div>


<h2>Add a comment:</h2>
<%= form_with(model: [ @book, @book.comments.build ], local: false) do |form| %>
  <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :content %><br>
    <%= form.text_area :content, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :commenter, value: current_user.username %>
    <%= form.hidden_field :approved, value: false %>
  </div>
  <p>
    <%= form.submit :class => 'btn btn-primary' %>
  </p>
<% end %>

<%= link_to 'Back', welcome_index_url %>
